@media screen and (min-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }



  .fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .fullScreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .section-1 {
    background-image: url("/imgs/sectionAll.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }

  .textHeader {
    color: white;
    font-size: 2rem;
    width: 80%;
  }

  .textHeader2 {
    color: yellow;
    /* position: absolute;
    top: 560px; */
    margin: 30px;
    font-size: 1rem;
    width: 50%;
  }

  .btnHeader {
    width: 60%;
    height: 100px;
    background-color: #009c03;
    bottom: 5%;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
    transition: background-color 0.3s ease;
  }

  .btnHeader a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }

  .btnHeader:hover {
    background-color: #00ff04;
  }

  .section-2 {
    background-image: url("/imgs/section2Ipad.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100vw;
            height: 100vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
  }

  .section-2 strong {
    color: #e9d878;
  }

  .listSection2 {
    list-style-type: none;
  }

  .listSection2 li {
    color: white;
    margin-top: 20px;
    font-size: 18px;
  }

  .listSection2 i {
    color: #e9d878;
    margin-right: 5px;
  }

  .listSection2 hr {
    max-width: 90%;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(201deg, #000000 0%, #e9d878 100%);
    color: white;
    padding: 40px;
  }

  .section-3 h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .section-3 ul>li {
    list-style-type: none;
    font-size: 18px;
    padding: 20px;
  }

  .section-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px #e9d878, 0 4px 6px -4px rgba(20, 150, 243, 0.4);
    border-radius: 10px;
    
    background-color: #fff;
  }

  .content {
    padding: 20px;
  }

  .content .price {
    color: #000;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  }

  .content .description {
    color: #000;
    margin-top: 10px;
    font-size: 14px;
  }

  .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    background-color: #00ff03;
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
    cursor: pointer;
  }

  button a {
    text-decoration: none;
    color: white;
  }

  .section-5 {
    background: linear-gradient(201deg, #000000 0%, #e9d878 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-5 img {
    box-shadow: 0 1px 2px #0003;
    text-align: center;
  }

  .swiper-wrapper {
    text-align: center;
  }

  .textsection5 {
    background-color: #000000;
    color: #e9d878;
    text-align: center;
    padding: 10px;
  }


  .depo {
    margin: 10px;
  }

  .section-5 h1,
  .section-5 p {
    color: #e9d878;
    text-align: center;
  }

  .section-6 {
    background-image: linear-gradient(rgb(0, 216, 2) 0%, rgb(0, 119, 35) 100%);
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }

  .section-6 .pag1 {
    width: 50%;
    height: 50%;
    padding-top: 40px;
    padding-left: 10px;
  }

  .section-6 .pag2 {
    width: 40%;
    height: 40%;
  }

  .section-6 h1 {
    text-align: center;
    color: white;
    width: 50%;
    font-size: 3.5rem;
  }

  .section-6 p {
    text-align: center;
    color: white;
    font-size: 18px;
    width: 50%;
  }

  .section-7 {
    /* background-image: url(/imgs/aboutMeBgMobile.png); */
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .section-7 img {
    filter: brightness(80%);
    width: 30%;
    height: 30%;
    padding-top: 2px;
  }

  .section-7 h1 {
    color: #e9d878;
    font-size: 2rem;
  }

  .section-7 p {
    color: white;
    padding-top: 20px;
    padding: 40px;
  }

  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
  }

  .swiper {
    width: 800px;
    height: 374px;
  }

}